build/*
**/build/*
**/*egg-info/*

**/check.xyz
**/result.xyz
**/*.so
**/*.pyd
**/*.dll
release_assemble/ringo_release/win_dlldeps.json

**/cached_buildseqs.json
**/*.pyc
./pybind11
./fmt
./eigen
release_assemble/ringo_release/ringo/pyutils/*
.vscode/*